<!DOCTYPE html>
<html>
<head>
	<title>Message Board</title>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<link rel= "stylesheet" href="/index.css">
</head>
<body>
<h1>The Spice Board</h1>
<hr>
<div id = "background">
	<div class = "mgsbackground">
	<h2>New Message</h2>
	<form action="/message" method="post">
		<p>Name: <input type = "text" name="name" id="name"><br>
		Message: <textarea class="form-control" rows="3" name="message" id="message"></textarea><br>
		<input type = "submit" value = "Post Message!">
	</form><br>
	</div>
	<div class = 'main'>
		<% for (var i=0; i<data.length; i++){ %>
		<div class = 'msgdisplay'>
			<h3>Name: <%= data[i].name %></h3>
			<h4>Message: <%= data[i].message %></h4>
				<div class = "sub">
					<% console.log(data[i]); %>
					<% comments = data[i].comments %>
					<% console.log (comments.length) %>
					<% for(var m=0; m<data[i].comments.length; m++){ %>
						<div class = 'comdisplay'>
							<p>Name: <%= data[i].comments[m].cname %><br>
							Comment: <%= data[i].comments[m].comment %><br>
							<% data[i].comments[m].created_at %></p>

						</div>
					<% } %>
				</div>
				<div class = "newcomment">
					<form action = "/comment/<%= data[i]._id %>" method="post">
						<p>Name: <input type = "text" name="cname" id="cname"><br>
						Comment: <textarea class="form-control" rows="3" name="comment" id="comment"></textarea></p><br>
						<input type = "submit" value = "Post Comment!">
					</form>
				</div>
		<% } %>
		</div>
	</div>	
</div>
</body>
</html>

<!-- <div class = 'main'>
		<% for (var i=0; i<data.length; i++){ %>
		<div class = 'msgdisplay'>
			<h3>Name: <%= data[i].name %></h3>
			<h4>Message: <%= data[i].message %></h4>
				<div class = "sub">
				<% comments = data[i].comments %>
				<% console.log (comments.length) %>
				<% for(var m=0; m<data[i].comments.length; m++){ %>
					<div class = 'comdisplay'>
						<p>Name: <% data[i].comments[m].name %>
						Comment: <% data[i].comments[m].comment %></p>
					</div>
				<% } %>
				</div>
		<% } %>
		</div>
	</div>	 -->